{# templates//estructuraBase.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block titulo %}Aplicación de prueba{% endblock %}</title>
        <style> .actual { font-weight: bold; } </style>
    </head>

    <body>
        <div id="sidebar">
            {% block sidebar %}
                <h2>Menu</h2>
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li><a href="/sorteo/numero">Número</a></li>
                    <li><a href="/sorteo/suma ">Suma</a></li>                    
                    <li><a href="/sorteo/euromillones ">Euromillones</a></li>                                        
                </ul>
            {% endblock %}
        </div>

        <div id="contenido">
            {% block contenido %}{% endblock %}
        </div>
    </body>
</html>
