{# templates/sorteo/index.html.twig #}
<html>
    <head><title>Ejercicios tema 5.</title></head>
    <body>
        <h1>Ejercicios Tema 5.</h1>
        <ul>
            <li><a href="{{ path('app_numero_suma') }}">Ejercicio 5.1</a></li>
            <li>Ejercicio 5.2</li>            
            <li><a href="{{ path('app_euromillones') }}">Ejercicio 5.4 (Euromillones)</a></li>            
            <li><a href="http://symfony.com/doc">Ayuda Symfony</a></li>            
        </ul>
    </body>
</html>
