{# templates/sorteo/numero.html.twig #}
<html>
    <head><title>Número aleatorio</title></head>
    <body>
        <h1>El resultado del sorteo es: {{ numero }}</h1>
        <h2>Límite: {{ limite }}</h2>
    </body>
</html>
