{# templates/suma.html.twig #}
<html>
    <head><title>Sumna de números</title></head>
    <body>
        <h1>Ejercicio 5.1</h1>
        <h3>El resultado de la suma de {{numero1}} y {{numero2}} es: {{ numero1 + numero2 }}</h3>
    </body>
</html>
